<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/layout">

	<head>
		<style th:inline="text">
			.label-inputfile {
				background-image: url([[@{/img/user-icon.png}]]);
			}
		</style>
	</head>

	<section layout:fragment="content">
	
		<div class="container container-content">

			<form enctype="multipart/form-data" method="post" th:action="@{/admin/new-user}" th:object="${user}">

				<div layout:include="users/messages"></div>
				<div layout:include="users/validation-messages"></div>

				<div class="form-group row">
					<label for="role" class="col-sm-2 col-form-label" th:text="#{label.role}"></label>
					<div class="col-sm-4">
						<select id="role" class="custom-select" th:field="*{role}" required="required"
						        th:classappend="${#fields.hasErrors('role')} ? is-invalid">
							<option value="" class="select-option" th:text="'- ' + #{label.select.role} + ' -'" />
							<option th:each="role : ${getRoles}" th:value="${role}" th:text="${role.description}" />
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="username" class="col-sm-2 col-form-label" th:text="#{label.username}"></label>
					<div class="col-sm-4">
						<input type="text" class="form-control text-lowercase" id="username" th:field="*{username}"
					           maxlength="32" th:placeholder="#{placeholder.username}" required="required"
					           th:classappend="${#fields.hasErrors('username')} ? is-invalid"
					           th:disabled="${isNewUser}"  />
					</div>
				</div>

				<div class="form-group row">
					<label for="password" class="col-sm-2 col-form-label" th:text="#{label.password}"></label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="password" th:field="*{password}"
					           maxlength="16" th:placeholder="#{placeholder.password}"
					           th:classappend="${#fields.hasErrors('password')} ? is-invalid" />
					</div>
				</div>

				<div class="form-group row">
					<label for="confirm-password" class="col-sm-2 col-form-label" th:text="#{label.confirm.password}"></label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="confirm-password" th:field="*{confirmPassword}"
					           maxlength="16" th:placeholder="#{placeholder.confirm.new.password}"
					           th:classappend="${#fields.hasErrors('confirmPassword')} ? is-invalid" />
					</div>
				</div>

				<div class="form-group row">
					<label for="email" class="col-sm-2 col-form-label" th:text="#{label.email}"></label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="email" th:field="*{email}" aria-describedby="emailHelp"
					           maxlength="128" th:placeholder="#{placeholder.email}" required="required"
					           th:classappend="${#fields.hasErrors('email')} ? is-invalid" />
					    <small id="emailHelp" class="form-text text-muted" th:text="#{message.never.share.email}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="phone" class="col-sm-2 col-form-label" th:text="#{label.phone.number}"></label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="phone" th:field="*{phoneNumber}" aria-describedby="phoneHelp"
					           maxlength="16" th:placeholder="#{placeholder.phone.number}" required="required"
					           th:classappend="${#fields.hasErrors('phoneNumber')} ? is-invalid" />
					    <small id="phoneHelp" class="form-text text-muted" th:text="#{message.never.share.phone.number}"></small>
					</div>
				</div>

				<div class="form-group row">
					<input id="input-image" class="inputfile" type="file" name="image" accept="image/*" aria-describedby="imageHelp" />
					<label id="id-label-inputfile" for="input-image" class="label-inputfile cursor-pointer rounded-circle">
						<span class="span-text-img-file" th:text="#{label.photo}"></span>
					</label>
				</div>

				<br />

				<div class="row">
					<div class="col-sm-10 ml-sm-auto">
						<button type="submit" class="btn btn-success cursor-pointer" th:text="#{label.submit}" style="margin-right: 8px;"></button>
						<button type="button" class="btn btn-danger cursor-pointer" th:text="#{label.cancel}"
						        th:onclick="'window.location.href = \'' + @{/admin/list-users} + '\''"></button>
					</div>
				</div>

			</form>
		</div>

		<script type="text/javascript" th:src="@{/js/file-size-check.js}"></script>
		<script type="text/javascript" th:src="@{/js/input-image-file.js}"></script>

	</section>

</html>