<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/layout">

	<section layout:fragment="content">

		<div class="container container-content">

			<form method="post" th:action="@{/owner/new-owner}" th:object="${owner}">

				<input type="hidden" th:field="*{id}" th:if="!${owner.newRegistry}" />
				<input type="hidden" th:field="*{dateCreated}" />
				<input type="hidden" th:field="*{newRegistry}" />

				<div layout:include="users/messages"></div>
				<div layout:include="users/validation-messages"></div>

				<div class="form-group row">
					<label for="id" class="col-sm-2 offset-md-3 col-form-label custom-label-alignment" th:text="#{label.id}"></label>
					<div class="col-sm-4">
						<input type="text" class="form-control text-lowercase" id="id" th:field="*{id}"
					           maxlength="32" th:placeholder="#{placeholder.id}" required="required"
					           th:classappend="${#fields.hasErrors('id')} ? is-invalid"
					           name="id" th:disabled="!${owner.newRegistry}" />
					</div>
				</div>

				<div class="form-group row">
					<label for="name" class="col-sm-2 offset-md-3 col-form-label custom-label-alignment" th:text="#{label.name}"></label>
					<div class="col-sm-4">
						<input type="text" class="form-control js-disabled" id="name" th:field="*{name}"
					           maxlength="128" required="required"
					           th:classappend="${#fields.hasErrors('name')} ? is-invalid"
					           name="name" th:disabled="!${owner.newRegistry}" />
					</div>
				</div>

				<div class="form-group row">
					<label for="phone" class="col-sm-2 offset-md-3 col-form-label custom-label-alignment" th:text="#{label.phone.number}"></label>
					<div class="col-sm-4">
						<input type="text" class="form-control js-disabled" id="phone" th:field="*{phoneNumber}" aria-describedby="phoneHelp"
					           maxlength="16" th:placeholder="#{placeholder.phone.number}" required="required"
					           th:classappend="${#fields.hasErrors('phoneNumber')} ? is-invalid" th:disabled="!${owner.newRegistry}" />
					    <small id="phoneHelp" class="form-text text-muted" th:text="#{message.never.share.phone.number}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="phone" class="col-sm-2 offset-md-3 col-form-label custom-label-alignment" th:text="#{label.address}"></label>
					<div class="col-sm-4">
						<textarea class="form-control js-disabled" id="phone" th:field="*{address}"
					           maxlength="255" th:classappend="${#fields.hasErrors('address')} ? is-invalid" th:disabled="!${owner.newRegistry}" >
					    </textarea>
					</div>
				</div>

				<br />

				<div class="form-group row">
					<div class="col-sm-4 offset-md-5">
						<button type="submit" class="btn btn-success cursor-pointer js-btn-new" th:classappend="!${owner.newRegistry} ? display-none"
						        th:text="#{label.submit}" style="margin-right: 8px;"></button>

						<button type="button" class="btn btn-primary cursor-pointer js-btn-view"
						        th:text="#{label.edit}" style="margin-right: 8px;" th:if="!${owner.newRegistry}" onclick="enableFields()"></button>

						<button type="button" class="btn btn-danger cursor-pointer js-btn-new" th:classappend="!${owner.newRegistry} ? display-none"
						        th:text="#{label.cancel}"
						        th:onclick="'window.location.href = \'' + @{/owner/list-owners} + '\''"></button>

						<button type="button" class="btn btn-danger cursor-pointer js-btn-view"
						        th:text="#{label.go.back}" th:if="!${owner.newRegistry}"
						        onclick="window.history.back()"></button>
					</div>
				</div>

			</form>

		</div>

	</section>

</html>