<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="users/layout">

	<section layout:fragment="content">

		<div class="container container-content">

			<form method="post" th:action="@{/owner/new-owner}" th:object="${owner}">

				<input type="hidden" th:field="*{id}" th:if="!${owner.newRegistry}" />
				<input type="hidden" th:field="*{dateCreated}" />
				<input type="hidden" th:field="*{newRegistry}" />

				<script th:inline="javascript">
					var owner = [[${owner}]];
				</script>

				<div layout:include="users/messages"></div>
				<div layout:include="users/validation-messages"></div>

				<div class="form-group row">
					<label for="id" class="col-sm-2 offset-md-3 col-form-label custom-label-alignment" th:text="#{label.id}"></label>
					<div class="col-sm-4">
						<input type="text" class="form-control text-lowercase" id="id" th:field="*{id}"
					           maxlength="32" th:placeholder="#{placeholder.id}" required="required"
					           th:classappend="${#fields.hasErrors('id')} ? is-invalid"
					           name="id" th:disabled="!${owner.newRegistry}" />
					</div>
				</div>

				<div class="form-group row">
					<label for="name" class="col-sm-2 offset-md-3 col-form-label custom-label-alignment" th:text="#{label.name}"></label>
					<div class="col-sm-4">
						<input type="text" class="form-control js-disabled" id="name" th:field="*{name}"
					           maxlength="128" required="required"
					           th:classappend="${#fields.hasErrors('name')} ? is-invalid"
					           name="name" th:disabled="!${owner.newRegistry}" />
					</div>
				</div>

				<div class="form-group row">
					<label for="phone" class="col-sm-2 offset-md-3 col-form-label custom-label-alignment" th:text="#{label.phone.number}"></label>
					<div class="col-sm-4">
						<input type="text" class="form-control js-disabled" id="phone" th:field="*{phoneNumber}" aria-describedby="phoneHelp"
					           maxlength="16" th:placeholder="#{placeholder.phone.number}" required="required"
					           th:classappend="${#fields.hasErrors('phoneNumber')} ? is-invalid" th:disabled="!${owner.newRegistry}" />
					    <small id="phoneHelp" class="form-text text-muted" th:text="#{message.never.share.phone.number}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="phone" class="col-sm-2 offset-md-3 col-form-label custom-label-alignment" th:text="#{label.address}"></label>
					<div class="col-sm-4">
						<textarea class="form-control js-disabled" id="phone" th:field="*{address}"
					           maxlength="255" th:classappend="${#fields.hasErrors('address')} ? is-invalid" th:disabled="!${owner.newRegistry}" >
					    </textarea>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-4 offset-md-5">
						<button type="button" class="btn btn-success cursor-pointer js-btn-new" th:classappend="!${owner.newRegistry} ? display-none"
						        th:text="#{label.add.animal}" onclick="openAddAnimalModal()"></button>
					</div>
				</div>

				<div class="table-responsive">
					<table class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th class="text-left" th:text="#{label.species}"></th>
								<th class="text-left" th:text="#{label.breed.detailed.species}"></th>
								<th class="text-left" th:text="#{label.years.old}"></th>
								<th class="text-left" th:text="#{label.months.old}"></th>
								<th class="text-left" th:text="#{label.days.old}"></th>
								<th class="text-left" th:text="#{label.sex}"></th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="animal : ${owner.animals}">
								<td class="text-left align-middle" th:text="${animal.species.description}"></td>
								<td class="text-left align-middle" th:text="${animal.breed}" th:if="!${#strings.isEmpty(animal.breed)}"></td>
								<td class="text-left align-middle" th:text="${animal.detailedSpecies}" th:if="!${#strings.isEmpty(animal.detailedSpecies)}"></td>
								<td class="text-left align-middle" th:text="${animal.yearsOld}"></td>
								<td class="text-left align-middle" th:text="${animal.monthsOld}"></td>
								<td class="text-left align-middle" th:text="${animal.daysOld}"></td>
								<td class="text-left align-middle" th:text="${animal.sex.description}"></td>

								<td class="text-center">
									<a href=""
									   style="text-decoration: none;"
									   th:title="#{label.edit}" data-toggle="tooltip" data-placement="top">
										<i class="fa fa-pencil" aria-hidden="true"></i>
									</a>
								</td>
							</tr>

							<tr th:if="${#lists.isEmpty(owner.animals)}">
								<td colspan="7" th:text="#{message.no.animals.found}"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<br />

				<div class="form-group row">
					<div class="col-sm-4 offset-md-5">
						<button type="submit" class="btn btn-success cursor-pointer js-btn-new" th:classappend="!${owner.newRegistry} ? display-none"
						        th:text="#{label.submit}" style="margin-right: 8px;"></button>

						<button type="button" class="btn btn-primary cursor-pointer js-btn-view"
						        th:text="#{label.edit}" style="margin-right: 8px;" th:if="!${owner.newRegistry}" onclick="enableFields()"></button>

						<button type="button" class="btn btn-danger cursor-pointer js-btn-new" th:classappend="!${owner.newRegistry} ? display-none"
						        th:text="#{label.cancel}"
						        th:onclick="'window.location.href = \'' + @{/owner/list-owners} + '\''"></button>

						<button type="button" class="btn btn-danger cursor-pointer js-btn-view"
						        th:text="#{label.go.back}" th:if="!${owner.newRegistry}"
						        onclick="window.history.back()"></button>
					</div>
				</div>

			</form>

			<div id="modal-add-animal" class="modal fade" tabindex="-1"
				 role="dialog" aria-labelledby="modal-label-add-animal"
				 aria-hidden="true">
				<div class="modal-dialog" role="document">

					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal-label-add-animal"
								th:text="#{label.add.animal}"></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							<div class="form-group">
								<select id="sex" class="custom-select" required="required">
									<option value="" class="select-option" th:text="'- ' + #{label.select.sex} + ' -'" />
									<option th:each="sex : ${getSexes}" th:value="${sex}" th:text="${sex.description}" />
								</select>
							</div>

							<div class="form-group">
								<select id="species" class="custom-select" required="required">
									<option value="" class="select-option" th:text="'- ' + #{label.select.species} + ' -'" />
									<option th:each="species : ${getSpecies}" th:value="${species}" th:text="${species.description}" />
								</select>
							</div>

							<div class="form-group">
					            <input type="text" class="form-control" id="animal-name"
					                   maxlength="128" required="required" th:placeholder="#{label.name}"/>
					        </div>

							<div class="form-group">
					            <input type="tel" class="form-control js-number-two-digits" id="animal-years-old"
					                   maxlength="2" required="required" th:placeholder="#{label.years.old}"/>
					        </div>

							<div class="form-group">
					            <input type="tel" class="form-control js-number-two-digits" id="animal-months-old"
					                   maxlength="2" required="required" th:placeholder="#{label.months.old}"/>
							</div>

							<div class="form-group">
					            <input type="tel" class="form-control js-number-two-digits" id="animal-days-old"
					                   maxlength="2" required="required" th:placeholder="#{label.days.old}"/>
							</div>

						</div>

						<div class="modal-footer">
							<button type="button"
								    class="btn btn-link cursor-pointer-no-shadow"
								    style="text-decoration: none;" data-dismiss="modal"
								    th:text="#{label.close}"></button>
							<button type="button" class="btn btn-primary cursor-pointer"
								    th:text="#{label.add}"></button>
						</div>
					</div>

				</div>
			</div>

		</div>

		<script type="text/javascript" th:src="@{/js/animal-manager.js}"></script>

	</section>

</html>