<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=yes"
	charset="UTF-8" />

<title th:text="#{label.pathological.reports} + ' - ' + #{label.recover.password}"></title>

<link rel="stylesheet" type="text/css" th:href="@{/css/style-login.css}" />

<link rel="icon" th:href="@{/img/favicon.png}" type="image/ico" />
<style th:inline="text">
body {
	background-image: url([[@{/img/login-background.jpg}]]);
}
</style>
</head>
<body>

	<div class="login-page">
		<div class="form-header">
			<div class="login-logo">
				<img th:src="@{/img/dog-paw.png}"/>
			</div>
		</div>
		<div class="form">

			<p th:if="${!#strings.isEmpty(errorMessage)}" th:text="${errorMessage}" class="p-error"></p>
			<p th:if="${!#strings.isEmpty(infoMessage)}" th:text="${infoMessage}" class="p-success"></p>

			<form method="post" th:action="@{/recover-password/redefine-password}" th:object="${password}">

				<div class="p-error" th:if="${#fields.hasAnyErrors()}">
					<div th:each="detailedError : ${#fields.detailedErrors()}">
						<span th:text="${detailedError.message}"></span>
					</div>
				</div>

				<input type="password" th:field="*{password}" th:placeholder="#{placeholder.new.password}" required="required" id="password" min="5" maxlength="16" autofocus="autofocus" />
				<input type="password" th:field="*{confirmPassword}" th:placeholder="#{placeholder.confirm.new.password}" required="required" id="confirmPassword" min="5" maxlength="16" />

				<button type="submit" th:text="#{label.change.password}"></button>

			</form>
		</div>
	</div>

</body>
</html>